.footer {
    width: 100%;
    text-align: center;
    background-color: #131313;
}
.footer-social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding: 7% 15%;

}

.footer-menu-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0.5em;
}

a {
    padding: 5px 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-bottom {
    background-color: #000000;
    color: #FFFFFF;
    padding: 2.5% 7%;
}